<!-- Bookers1投稿詳細画面 -->
<div class="container">
  <p class="flash-message text-success"><%= flash[:notice] %></p>
  <div class="row">
    <div class="mt-5 col-12"><b>Title:</b> <%= @post.title %></div>
    <div class="mt-3 col-12"><b>Body:</b> <%= @post.body %></div>
  </div>
  <div class="mt-3">
    <span class="review-btn"><%= link_to "Edit", edit_review_path(@post) %></span>
    |
    <span class="review-btn"><%= link_to "Back", reviews_path, class: "review-btn" %></span>
  </div>
</div>